*{
  margin: 0;
  padding:0;
}

.list{
  margin: 40px;
  border: 2px solid white;
  box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
  width: 500px;
  padding: 10px;
}

.list-add{
  display: flex;

  align-items: center;
  justify-content: center;
 
}
